<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar id="navbar" class="navbar">
  <mat-toolbar-row>
    <span id="title">LAVADOO</span>
    <span id="spacer"></span>
    <span class="links"><a routerLink="">ABOUT</a></span>
    <span class="links"><a routerLink="pricing">PRICING</a></span>
    <span class="links"><a routerLink="how-it-works">HOW IT WORKS</a></span>
    <span class="links"><a routerLink="faqs">FAQ</a></span>
    <span class="links"><a routerLink="contact">CONTACT</a></span>
    <a routerLink="enter"><button class="links" mat-button>SIGN IN</button></a>
    <a routerLink="create"><button class="links" mat-button>CREATE ACCOUNT</button></a> 
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
